
header {
  background-color: #f8f9fa; 
}

.navbar {
  padding: 1rem 2rem; 
}

.navbar .navbar-brand {
  margin-right: 20px; 
}

.navbar .nav-link {
  margin-left: 15px; 
}

.nav-link img {
  width: 24px; 
  height: 24px;
}

.navbar-nav {
  margin-left: auto; 
}

