.card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin-bottom: 0.5rem; 
  }


.search-input {
  max-width: 300px; 
  margin-top: 20px; 
  margin-left: auto;
  margin-right: 5px; 
  display: block; 
}

.featured-shoes {
  margin-top: 40px; 
}

  