/* ProductDetail.css */

/* ProductDetail.css */

/* Tạo khoảng cách trên cho nội dung chính */
.product-detail {
    padding-top: 80px; /* Thay đổi giá trị tùy thuộc vào chiều cao của navbar */
  }
  
  /* Tùy chỉnh kích thước và kiểu dáng của modal */
  .modal-dialog {
    width: 25vw; /* Thay đổi giá trị này để điều chỉnh kích thước modal */
    height: 30vw; /* Giữ tỷ lệ vuông cho modal */
    max-width: 30vw; /* Đảm bảo không vượt quá chiều rộng của viewport */
    max-height: 30vw; /* Đảm bảo không vượt quá chiều cao của viewport */
    margin: auto; /* Căn giữa modal */
  }
  
  .modal-content {
    height: 60%; /* Đảm bảo nội dung modal chiếm toàn bộ chiều cao */
    border-radius: 0; /* Góc vuông cho modal */
    padding: 0; /* Loại bỏ padding */
    display: flex; /* Sử dụng flexbox để căn giữa ảnh */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
  }
  
  .modal-body {
    height: 100%; /* Chiều cao của modal-body */
    padding: 0; /* Loại bỏ padding */
    display: flex; /* Sử dụng flexbox để căn giữa ảnh */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
  }
  
  .modal-body img {
    max-width: 100%; /* Đảm bảo ảnh không vượt quá chiều rộng của modal */
    max-height: 100%; /* Đảm bảo ảnh không vượt quá chiều cao của modal */
    object-fit: contain; /* Giữ tỷ lệ khung hình của ảnh */
    display: block; /* Loại bỏ khoảng trắng phía dưới ảnh */
  }
  