.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.shoe-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Căn chỉnh các mục trong thanh điều hướng */
.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav-left {
  margin-right: auto;
}

.navbar-nav-right {
  display: flex;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .App-header {
    font-size: calc(8px + 2vmin); /* Giảm kích thước chữ trên màn hình nhỏ */
  }

  .App-logo {
    height: 30vmin; /* Giảm kích thước logo trên màn hình nhỏ */
  }

  .shoe-name {
    height: 3.2em; /* Tăng chiều cao cho nhiều dòng hơn nếu cần thiết */
  }

  .navbar-nav {
    flex-direction: column; /* Đổi hướng xếp hàng trên màn hình nhỏ */
    align-items: flex-start; /* Căn trái các mục trong thanh điều hướng */
  }
  
  .navbar-nav-right {
    margin-top: 1rem; /* Thêm khoảng cách trên màn hình nhỏ */
  }
}

@media (max-width: 480px) {
  .App-header {
    font-size: calc(6px + 2vmin); /* Giảm kích thước chữ thêm cho màn hình cực nhỏ */
  }
  
  .shoe-name {
    height: 4.5em; /* Cho phép nhiều dòng hơn cho tên giày trên màn hình rất nhỏ */
  }
}
