.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.shoe-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav-left {
  margin-right: auto;
}

.navbar-nav-right {
  display: flex;
}

@media (max-width: 768px) {
  .App-header {
    font-size: calc(8px + 2vmin); 
  }

  .App-logo {
    height: 30vmin; 
  }

  .shoe-name {
    height: 3.2em; 
  }

  .navbar-nav {
    flex-direction: column; 
    align-items: flex-start;
  }
  
  .navbar-nav-right {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .App-header {
    font-size: calc(6px + 2vmin); 
  }
  
  .shoe-name {
    height: 4.5em;
  }
}
/* Tùy chỉnh khung viền cho textarea */
.comment-textarea {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 8px; /* Padding phù hợp */
  
  /* Căn giữa với Flexbox */
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  
  /* Hiển thị placeholder */
  position: relative;
  resize: none;
}

/* Thêm hiệu ứng khi người dùng tương tác */
.comment-textarea:focus {
  outline: none; /* Xóa viền mặc định khi focus */
  border-color: #007bff; /* Thay đổi màu viền khi focus */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Thêm hiệu ứng box-shadow */
}

/* 1. Thiết lập chiều cao tối thiểu cho toàn bộ ứng dụng */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100vh = 100% chiều cao màn hình trình duyệt */
}

/* 2. Phần nội dung chính sẽ tự động phình to ra để đẩy Footer xuống */
.main-content {
  flex: 1;
  /* Thêm padding nếu cần thiết để nội dung không dính sát lề */
  padding-bottom: 20px; 
}